<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :title, t('posts.title') %>
  <%= f.text_field :title, required: true, minlength: 10 %>
  <%= f.label :content, t('posts.content') %>
  <%= f.text_area :content, required: true %>
  <p>
    <%= f.check_box :approved, id: 'approved' %>
    <%= f.label :approved, t('group.approved'), for: 'approved' %>
  </p>
    <%= f.label :category_id, t('category') %><br>
    <%= f.collection_select :category_id, Category.all, :id, :title, {},  { class: 'browser-default'} %>
  <div class="input-field">
    <%= f.submit t('save'), class: "waves-effect waves-light btn" %>
  </div>
<% end %>
