<div class="row">
  
<h4 class="center-align"><%= @post.title %></h4>
<div class="divider"></div>
  <div class="section">
    <div class="col s12">
      <span class="flow-text">
          <%= @post.content %>
      </span>
    </div>
  </div>


<div class="row">
  <div class="right-align">
    <% if can? :edit, @post %>
      <%= link_to edit_post_path(@post), class: 'btn-floating btn-large waves-effect waves-light red' do %>
        <i class="material-icons">mode_edit</i>
      <% end %>
    <% end %>
  </div>
</div>

</div>
<div class="row">
  <% @post.comments.each do |comment| %>
      <div class="divider"></div>
        <div class="section">
          <div class="col s2">
            <span ><%= comment.author.name %></span>
          </div>
          <div class="col s6 offset-s4">
            <span class="flow-text"><%= comment.content %></span>
          </div>
        </div>
        <div class="row">
             <% if current_user.has_role? :administrator %>
            <div class="col s2">
              <% if  comment.declined? %>
                <%= comment_approve_button(comment) %>
              <% end %>
            </div>  
            <div class="col s2">
              <% if comment.approved? %>
                <%= comment_decline_button(comment)  %>
              <% end %>
            </div>
            <div class="col s2 offset-s2 align-right">
                <%= link_to comment, method: :delete, data: { confirm: t('comments.are_you_sure') } do %>
                  <span class="waves-effect waves-light btn comment red"><%= t('comments.destroy')%></span>
                <% end %>
             </div>
          <% end %>
        </div>  
  <% end %>
  <div class="divider"></div>
  <%= form_for [@post, Comment.new] do |f| %>
   
    <div class="field">
      <%= f.text_area :content, class: "form-control col s12", placeholder: t('comments.placeholder') %>
      <%= f.hidden_field :post_id, :value => @post.id %>
    </div>
    <div class="row">
      <div class="input-field left-align col s6">
        <% unless current_user.has_role?(:registered_user) %> <%= recaptcha_tags %> <% end %>
      </div>
      <div class="input-field right-align col s6">
        <%= f.button type: 'submit', class: "waves-effect waves-light btn" do %>
          <%= t('comments.save') %>
            <i class='material-icons right'>send</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
