<div class="row">
  
<h4 class="center-align"><%= @post.title %></h4>
<div class="divider"></div>
  <div class="section">
    <div class="col s12">
      <span class="flow-text">
          <%= @post.content %>
      </span>
    </div>
  </div>


<div class="row">
  <div class="right-align">
    <%= link_to edit_post_path(@post), class: 'btn-floating btn-large waves-effect waves-light red' do %>
      <i class="material-icons">mode_edit</i>
    <% end %>
  </div>
</div>

</div>
<div class="row">
  <% @post.comments.each do |comment| %>
      <div class="divider"></div>
        <div class="section">
          <div class="col s2">
            <span ><%= comment.author.name %></span>
          </div>
          <div class="col s6 offset-s4">
            <span class="flow-text"><%= comment.content %></span>
          </div>
        </div>
  <% end %>
  
  <div class="divider"></div>
  <%= form_for [@post, Comment.new] do |f| %>
    <div class="field">
      <%= f.text_area :content, class: "form-control col-lg-8", placeholder: t('comments.placeholder') %>
      <%= f.hidden_field :post_id, :value => @post.id %>
    </div>
    <div class="input-field right-align">
      <%= f.button type: 'submit', class: "waves-effect waves-light btn" do %>
        <%= t('comments.save') %>
        <i class='material-icons right'>send</i>
      <% end %>
    </div>
  <% end %>
</div>
