<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> <%= t('forms.unable_to_save') %> </h2>
      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :title, t('categories.title') %>
  <%= f.text_field :title, required: true, minlength: 10 %>
  <%= f.label :content, t('categories.desc') %>
  <%= f.text_area :desc, required: true %>
    <%= f.label :parent_id, t('category') %><br>
    <%= f.collection_select :parent_id, Category.all, :id, :title, {include_blank: true},  { class: 'browser-default'} %>
  <div class="input-field right-align">
    <%= f.button type: 'submit', class: "waves-effect waves-light btn" do %>
      <%= t('save') %>
      <i class='material-icons right'>send</i>
    <% end %>
  </div>
<% end %>
