<p id="notice"><%= notice %></p>

<h1><%= t('categories.index') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('categories.title') %></th>
      <th><%= t('categories.desc') %></th>
      <th><%= t('categories.parent') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.title, category %></td>
        <td><%= category.desc %></td>
        <td>
          <% if category.parent.present? %>
            <%= link_to category.parent.title, category.parent %>
          <% else %>
            <%= t('categories.no_parent') %>
          <% end %>
          </td>
        <% if can? :manage, Category %>
        <td><%= link_to t('edit'), edit_category_path(category), class: "waves-effect waves-light btn" %></td>
        <td><%= link_to t('destroy'), category, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
